/* league-spartan-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/league-spartan-v11-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/league-spartan-v11-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/league-spartan-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --clr-primary-darkGray: hsl(0, 0%, 63%);
    --clr-primary-vdarkGray: hsl(0, 0%, 27%);

    --fs-base: 0.75rem;

    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}
/* CSS RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--clr-primary-darkGray);
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* UTILITIES */
html,
body {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
button.btn {
    margin: 0;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}
.img--link {
    display: inline-block;
}
.img--slide,
.txt--slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.45s ease-out;
}

/*  */
body {
    font-family: "League Spartan";
    font-weight: var(--fw-medium);
}
.row1 :not(.img--slide) {
    z-index: 2;
}

.row1 .card--img,
.row2 .card--txt,
nav {
    padding-block: 3rem;
    padding-inline: 1.5rem;

    font-weight: var(--fw-semibold);
}
.row1 .card--img,
.row1 .card--txt {
    min-height: 360px;
    position: relative;

    overflow: hidden;
}
.card--sml.card--img {
    min-width: 375px;
    min-height: 266px;
}
.card--sml.card--img > img {
    width: 100%;
    object-fit: fill;
}

.row1 .card--txt {
    padding-block: 4rem;
    padding-inline: 2rem;
    min-height: 420px;
}

.txt-cont {
    position: relative;
}

.sliders-cont {
    position: absolute;
    bottom: 0;
    width: 100px;
    right: 0;
    display: flex;
    justify-content: space-between;
}
.slider {
    background: #000;
    cursor: pointer;
    padding-block: 1rem;
    padding-inline: 1.15rem;
}

header {
    display: flex;
    position: relative;
}
.btn:hover {
    cursor: pointer;
}
.btn--navclose {
    padding: 5px;
}
.btn.btn--navexpand {
    position: absolute;
    z-index: 3;
    padding: 5px;
    bottom: -5px;
}
.nav__modal {
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 0.35s;
}
.card.card--img.card--lrg nav,
.card.card--img.card--lrg nav > * {
    z-index: 3;
}
nav {
    transition: 0.35s ease-in;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}
.nav__list {
    display: flex;
    gap: 2rem;
    padding: 0;
    list-style-type: none;
}
.logo-cont {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-cont h2 {
    font-size: 2.35rem;
    letter-spacing: -1px;
    line-height: 0.85;
    color: #000;
    margin-bottom: 1rem;
}
.txt-cont h3 {
    color: #000;
    font-weight: var(--fw-semibold);
    letter-spacing: 5px;
}
a.link {
    color: #000;
    display: inline-block;
    text-decoration: none;
}
.card--txt a.link {
    letter-spacing: 12px;

    position: absolute;
    bottom: 4rem;
}
a.link span {
    margin-right: 12px;
}
